[Desktop Entry]
Type=Application
Version=1.0
Name=PDF Arranger Qt
Comment=Merge, split, rearrange, rotate and crop PDF documents
Exec=pdfarranger-qt %U
Icon=pdfarranger-qt
MimeType=application/pdf;image/bmp;image/gif;image/tiff;image/jpeg;image/png;
Categories=Office;Graphics;
Terminal=false
StartupNotify=true
Keywords=pdf;merge;split;rotate;crop;booklet;imposition;
